input:focus,
button:focus {
    outline: 0
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.container {
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    background: #222;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 20px #000;
    text-align: center;
    box-sizing: border-box;
}

.container img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #76b900;
    border-top: 1px solid #2b2b2b;
    padding-top: 20px;
}

.container input,
.container button {
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: DINPro;
}

.container input {
    background: #333;
    margin-bottom: 10px;
    font-family: DINPro;
    font-size: 24px;
    color: #777;
    text-align: center;
}

.container button {
    background: #76b900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    border-bottom: 2px solid #333;
    cursor: pointer;
}

#result {
    opacity: 0;
    margin-top: -20px;
    transition: .3s;
}

#result.show {
    opacity: 1;
    margin-top: 0;
}