@font-face {
    font-family: DINPro-Bold;
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/din-bold.woff');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: DINPro;
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/din.woff');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: DINPro;
  background: #333;
  color: #fff;
}